@import "tailwindcss";

/* debug */
/* * {
  background: rgb(0 0 200 / 0.1) !important;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-light-black: #393e46;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .handle-max-w {
    @apply max-w-screen-xl mx-auto;
  }

  .link {
    @apply font-black underline;
  }

  .project-section {
    @apply h-fit w-fit mt-24 p-4 md:p-8 xl:h-screen xl:w-screen shrink-0;
  }

  .experience-list {
    @apply list-disc list-inside text-lg mt-4 space-y-2;
  }

  .brand-container {
    @apply flex flex-col gap-2 items-center w-fit transition-transform duration-300 ease-in-out;
  }

  .brand {
    @apply size-32 lg:size-44 transition-all duration-300 ease-in-out;
  }

  .brand-title {
    @apply uppercase font-black;
  }

  .hover-translate-up {
    @apply hover:-translate-y-1 transition-transform duration-75;
  }
}

/* i don't need this for now */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* for gsap's horizontal scroll to work */
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-y: visible;
  overflow-x: hidden;
  position: relative;
}
